@import '../../index.scss';

.header {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding: 10px 25px;
	background-color: $lightgray1;
	font-weight: 700;
	.side {
		display: flex;
		flex-direction: row;
		align-items: center;
		.logo {
			height: 50px;
			width: auto;
		}
		.item {
			cursor: pointer;
			padding: 0 15px;
			height: 50px;
			line-height: 50px;
			&:hover {
				color: $blue1;
			}
		}
	}
}
